**/backend/node_modules/
**/backend/bin
**/backend/build*
**/backend/node_modules/
**/backend/src/main/resources/application.properties
**/backend/.gradle/
backend/gradlew.bat
**workspace*
**/.DS_Store
**/node_modules/
**/dist/
**/.vercel/
**/.next/
*.zip
